/*header*/
/*menu*/
#menuDiv{
  	background: #dceda3; 
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-item: center;
	margin: 0;
	border-radius : 5px;
}

ul, li {
	list-style:none;
	font-weight: bolder;
	font-size: 1.5rem;
	padding: 0;
	margin: 0;
}

.menuA {
	margin-top : 0px;
	text-decoration: none;
	color: black;
}

.menuList {
	display: flex;
	padding-left: 0px;
	margin: 0;
	align-content: center;
    align-items: center;
}

.menuItem {
	margin-right: 7rem;
	color: black
}

.menuItem:last-child {
  	margin-right: 0;
}

/*content*/
#cont{
	display: flex;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	font-family: 'Noto Sans KR', sans-serif;
}

#flexDiv{
	width: 80%;
/* 	display: flex; */
	
}

#pageTitle {
	margin-top : 1rem;
	margin-bottom : 1rem;
	text-align: center;
}

.pageTitle {
	font-size: 3rem;
}



/*각 JSP*/
/*게시판 list*/
#firstDiv {
	text-align: right;
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
	
}



a{
	text-decoration: none;
}

li {
	display: inline-block;
	}
	
ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

table{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	border-collapse: separate;	
	border-spacing: 0px 10px;

}


.excelDown  {
	background: #BBC7B9;
	border-radius : 10px;
/* 	width: 100px;  */
	width: 30%; 
	height: 35px;
	
	
	text-align: center;
	font-weight: bold;
/* 	float: right; */
	font-size: 11px;
/* 	margin: 10px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.excelDown > p {
	font-size: 12px;
}

.excelDownBtn  {
	background: #BBC7B9;
	border-radius : 5px;
	width: 100px;
	height: 35px;
	text-align: center;
	font-weight: bold;
	float: left;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boardWrite  {
	background: #BBC7B9;
	border-radius : 5px;
	width: 100px;
	height: 35px;
	text-align: center;
	font-weight: bold;
	float: right;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}



#secondDiv {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

#thirdDiv, #fourthDiv {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#fileDiv, #csvFileDiv , #fileUpDiv, #fileUpCsvDiv {
	background: #dceda3;
	border-radius : 5px;
	width: 250px;
	height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#fileDownDiv, #fileDownCsvDiv {
	margin-left: 10px;
	background: #dceda3;
	border-radius : 5px;
	width: 400px;
	height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#csvFileDiv, #fileUpDiv, #fileDownCsvDiv{
	margin-left: 10px;
}

#excelUploadForm, #csvUploadForm , #fileUpDownForm, #fileUpDownCsvForm{
	width: 500px;
	margin: 0;
	margin-block-end : 0;
}

#fileDiv label, #csvFileDiv label, #fileUpDiv label, .downBTN, #fileUpCsvDiv label, .downCsvBTN{
	background: #999999;
	border-radius : 5px;
	width: 80px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	padding: 3px 6px;
}

.upload-name, .csvupload-name, .fileUpDown-name, .fileUpDownCsv-name {
	width: 60%;
	
}

#excelFile, #csvFile, #fileUpDown, #fileUpDownCsv{
	display: none;
}

#fileDownDiv select, #fileDownCsvDiv select{
	width: 150px;
}


.thead_green{
	background: #8DA788;
	color: white;
	height: 45px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: normal;
}

tbody > tr {
	background: #F9FAF9;
	height: 50px;
}

td:first-child, th:first-child {
	border-radius: 5px 0 0 5px;
}

td:last-child, th:last-child {
	border-radius: 0 5px 5px 0;
}

.paging_area {
	font-size: 20px;
}


p { 
	margin: 0px 0px 0px 0px; 
/* 	line-height: 120%;  */
}

p, li, a{
  font-size: 14px;
}

/* GRID */

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }

/* COLUMNS */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* GENERAL STYLES */

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

/* ONE */
.p1 a.is-active{
  background-color: #2ecc71 !important;
  border-radius: 100% !important;
  color: #fff !important;
}

.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}

.p2 a.is-active{
  font-weight: bold;
  border-bottom: 3px solid #2ecc71;
}

#imageDiv {
	text-align: center;
	margin-bottom: 20px;
}

/*모달*/
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 200px;
	background-color: #fcfcfc;
	z-index: 1000;
	border-radius: 25px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.modalTitle {
	width: 400px;
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
/* 	border-bottom: 2px solid black; */
/* 	margin-bottom: 10px; */
}

.modalTitle > span {
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	white-space:nowrap;
	border-bottom: 3px solid #556b2f;
	padding-bottom: 1px;
}

#modalCloseBtn {
	width: 20px;
	height: 20px;
	float: right;
}

:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}



#modalCloseBtn2{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
	
  border: none;
  border-radius: 0 0 25px 25px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
  
}

button.modalCloseBtn2 {
/*   --button-bg-color: #dc3545; */
/*   --button-hover-bg-color: #c82333; */

/*   --button-bg-color: #28a745; */
/*   --button-hover-bg-color: #218838; */

  --button-bg-color: #8DA788;
/*   --button-hover-bg-color: #218838; */
}

.modalEd {
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

#downBtnAll {
	display: flex;
	flex-wrap: wrap;
	gap: 5px 5%;
	padding: 10px 10px 10px 10px;
}

.overlay {
	top: 0px;
    right: 0px;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.);
	backdrop-filter: blur(10px);
	transition: all 0.3s;
}


.w10{width: 10% !important}
.w20{width: 20% !important}
.w30{width: 30% !important}
.w40{width: 40% !important}
.w50{width: 50% !important}
.w60{width: 60% !important}
.w70{width: 70% !important}
.w80{width: 80% !important}
.w90{width: 90% !important}
.w100{width: 100% !important}